<!-- <p>dashboard works!</p> -->
<div class="containera" >
    <div class="nav">
        <img src="../../../assets/img/logo-1.png" alt="arguosft-logo">
    </div>
    <section>

        <!-- create new template section -->
        <a class="new-section" (click)="gotoeditor();" style="cursor: pointer;" >
            <img src="../../../assets/img/clarity_add-line.svg" alt="">
            New Template
        </a>

        <hr>

        <!-- templates section -->
        <div class="templates">
            <div class="section-title">
                <h1>Existing Templates</h1>
                <button class="btn-delete-all" (click)="deleteAll();">
                    <img src="../../../assets/img/mdi_delete.svg" alt="">
                    Delete All
                </button>
            </div>

            <ul class="templates-list" style="list-style: none;" *ngFor="let i of TemplateList; let j = index">
                <!-- create a component for <li> -->
                <li>
                    <div class="list-item">
                        <div class="item-header">
                            {{j+1}}.
                            {{i.name}}
                            <div class="item-controls">
                                <button title="edit" (click)="editTemplate(j);">
                                    <img src="../../../assets/img/ci_file-edit.svg" alt="">
                                </button>
                                <button title="delete" (click)="deleteTemplate(j);">
                                    <img src="../../../assets/img/material-symbols_delete-forever-rounded.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <span>{{i.creationDate.toDateString()}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<router-outlet></router-outlet>