.main-title {
    margin-top: 10px;
}

.navstyle {
    background-color: #FDF3F8;
    margin-bottom: 16px !important;
}

.containera {
    padding: 0px 20px 0px 20px;
}

.heightfixer {
    height: 72vh;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.heightfixer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.heightfixer {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}

.editorcontainer {
    padding-right: 10px;
}

.canvascontainer {
    width: 110%;
}

.images-item {
    width: 48%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;
    padding: 3px;
    max-width: 120px;

    &:hover {
        opacity: 0.7;
    }
}

.images-item-upload {
    width: 80%;
    cursor: pointer;
    padding-bottom: 10px;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;

    &:hover {
        opacity: 0.7;
    }
}

.custom-item {
    border-bottom: 2px solid #f3f3f3;

    .custom-item-title {
        color: #666666;
        font-weight: 600;
    }

    .custom-item-body {
        padding: 10px 0;
    }
}

.max-height {
    overflow: auto;
    max-height: 300px;
}

.head-section {
    padding: 24px 0px;
}

.head-section input {
    font-weight: 700;
    font-size: 28px;
    padding: 8px 16px;
    color: #903564;
    border: 1px solid #d3b6c5;
    border-radius: 4px;
}

.add-text-group {
    height: max-content;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.add-text-group input {
    padding: 4px 8px;
}

/* add button */
button {
    border: 0;
    outline: 0;
    background-color: #903564;
    color: #fff;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;
}

.add-text-group button {
    border: 0;
    outline: 0;
    background-color: #903564;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 8px;
    border-radius: 0px 4px 4px 0px;
}

.btn-close {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;
    color: #F30303;
    background-color: #FEF1F1;
    font-size: 18px;
}

/* modal settings */
#mailModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
    color: #000;

}

.modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 54%;
    z-index: 1;
}

.modal-container {
    position: relative;
    height: 60%;
    width: 50%;
    background-color: #FAFAFA;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
}

.main-content {
    display: flex;
    height: 100%;
    gap: 16px;
}

.footer {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 4px 4px 29px 9px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.btn-cancel {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 6px;
    color: #F30303;
    background-color: #FEF1F1;
    font-size: 18px;
}

.btn-send {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 8px;
    color: #903564;
    background-color: #FDEBEB;
    font-size: 18px;
}

.listitem {
    display: flex;
    gap: 8px;
    padding: 4px 0px;
    font-size: 16px;
}

.section label {
    margin: 0;
    font-size: 16px;
}

.selectall {
    display: flex;
    gap: 8px;
    padding: 4px 0px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #D2D2D2;
    margin: 0;
}

.search-bar {
    padding: 8px 16px;
    gap: 8px;
    font-weight: 600;
    border: 1px solid #000000;
    border-radius: 4px;
}

// .candidate-section form{
//     display: flex;
//     flex-direction: column;
// }